<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio El Mestizo</title>
    <link rel="icon" href="../static/img/Pata.ico">
    <link rel="stylesheet" href="../static/css/refugio.css">
    <script src="https://kit.fontawesome.com/e232c8237d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="navbar-placeholder"></div>
    <main>
        <section class="hero-section2">
            <h1>Bienvenido.</h1>
            <br>
            <p>Encuentra a tu mejor amigo hoy.</p>
        </section>
        <section class="lista-perros">
            <h3>Puedes elegir una mascota de esta lista para adoptar, y luego contactarnos para conocerse.</h3>
            <div class="lista-perros-box">
                <!-- Aquí se cargarán los animales desde la base de datos -->
            </div>
        </section>
        <section id="perro-match" class="announcement-section">
            <h2>PerroMatch</h2>
            <div class="announcement-box">
                <p>¡Ingresa tus datos y te recomendaremos una mascota unica para vos!</p>
                <a href="perromatch">Ir</a>
            </div>
        </section>
        <section class="contact-section">
            <h2>Contáctanos</h2>
            <div class="contact-box">
                <p>¿Tienes preguntas o necesitas más información? Contáctanos y te ayudaremos con lo que necesites.</p>
                <a href="contacto">Contáctanos</a>
            </div>
        </section>
    </main>
    <div id="footer-placeholder"></div>
</body>
<script src="../static/js/nyfloader.js"></script>
<script src="../static/js/buscar-mascota.js"></script>
</html>
