<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>Refugio El Mestizo </title>
    <link rel="icon" href="../static/img/Pata.ico">
    <link rel="stylesheet" href="../static/css/refugio.css">
    <script src="https://kit.fontawesome.com/e232c8237d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navbar-placeholder"></div>
    <main>
        <section class="hero-section">
            <h1>Bienvenido al Refugio El Mestizo</h1>
            <br>
            <p>Somos una ONG sin fines de lucro ubicada en Corralitos, Guaymallen, Mendoza.</p>
            <br>
            <p>Salvamos y cuidamos a animales en situaciones difíciles.</p>
        </section>
        <section id="about" class="about-section">
            <h2>Sobre Refugio El Mestizo</h2>
            <div class="about-box">
                <p>El refugio El Mestizo es una ONG, sin fines de lucro, ubicada en Corralitos, calle Ferrari 1035, Guaymallen, Mendoza.</p>
            </div>
            <div class="about-box">
                <p>El refugio tiene una población que ronda los 750 perros. Destaca por su labor de rescate y recuperación sin precedentes en América Latina. Como refugio no eutanásico, no considera inviable a ninguno de sus animales.</p>
            </div>
            <div class="about-box">
                <p>Lo que lo hace único en el mundo son sus 120 perros paralíticos, que utilizan carritos hechos a medida. Además, alberga a 50 perros ciegos y más de 250 perros viejos. Muchos de ellos están en tratamiento por problemas renales, dérmicos, hepáticos, cardíacos, oncológicos o diabéticos.</p>
            </div>
            <div class="about-box">
                <p>El Mestizo no recibe subsidios, aportes de empresas ni alimento balanceado de ninguna compañía. Tampoco tiene cuotas ni socios. Se puede ser padrino/madrina del refugio o de un perrito en particular, a voluntad, sin montos fijos y con frecuencia de ayuda voluntaria.</p>
            </div>
        </section>
        <section class="announcement-section">
            <h2>Encuentra Tu Mascota</h2>
            <div class="announcement-box">
                <p>¿Estás buscando adoptar una mascota? Visita nuestro formulario para encontrar a tu compañero perfecto.</p>
                <a href="buscar-mascota">Buscar Mascota</a>
            </div>
        </section>
        
        <section class="contact-section">
            <h2>Contáctanos</h2>
            <div class="contact-box">
                <p>¿Tienes preguntas o necesitas más información? Contáctanos y te ayudaremos con lo que necesites.</p>
                <a href="contacto">Contáctanos</a>
            </div>
        </section>
    </main>
    <div id="footer-placeholder"></div>
    <script src="../static/js/nyfloader.js"></script>
</body>

</html>