<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perromatch</title>
    <link rel="icon" href="../static/img/Pata.ico">

    <script src="https://kit.fontawesome.com/e232c8237d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/refugio.css">
</head>

<body>
    <div id="navbar-placeholder"></div>
    <main>
        <section class="perromatch">
            <h1>PerroMatch</h1>
        </section>
        <section id="formulario-perromatch">
            <p>
                Ingresa tus datos en este formulario y te ayudaremos a encontrar a
                tu mascota ideal, segun tus posibilidades y tu experiencia. Esto es sólo
                una sugerencia, vos vas a terminar decidiendo quien va a ser tu nuevo compañero.
            </p>
            <div class="perromatch-box">
                <h3 class="titulo-formulario"></h3>
                <form>
                    <div>
                        <p><label for="Edad:">Edad:</label> </p>
                        <input type="number" size="30" id="edad">
                    </div>

                    <p><label for="Patio:">¿Tenés patio?:</label>
                    </p>
                    <p>
                        <label for="nopatio">No</label>
                        <input type="checkbox" name="opcion" id="nopatio">
                    </p>
                    <p>
                        <label for="sipatio">Si</label>
                        <input type="checkbox" name="opcion" id="sipatio">
                    </p>
                    <p>
                        <label for="niños">¿Tenés hijos o vivís con niños?:</label>
                    </p>
                    <p>
                        <label for="noniños">No</label>
                        <input type="checkbox" name="opcion" id="noniños">
                    </p>
                    <p>
                        <label for="siniños">Si</label>
                        <input type="checkbox" name="opcion" id="siniños">
                    </p>
                    <p>
                        <label for="niños">¿Tenés otros perros?:</label>
                    </p>
                    <p>
                        <label for="noperros">No</label>
                        <input type="checkbox" name="opcion" id="noperros">
                    </p>
                    <p>
                        <label for="siperros">Si</label>
                        <input type="checkbox" name="opcion" id="siperros">
                    </p>
                    <button type="submit" id="botonVer">Ver</button>
                </form>
        </section>
        </div>
        <!-- Modal -->
        <div id="modal" class="modal">
            <div class="modal-content-perromatch-box">
                <span class="close">&times;</span>
                <p id="modal-text"></p>
                <div class="button-modal">
                    <button id="boton-cerrar-modal">Cerrar</button>
                    <a href="buscar-mascota.html"><button>Ver animalitos</button></a>
                </div>
            </div>

        </div>
    </main>
    <div id="footer-placeholder"></div>
</body>
<script src="../static/js/nyfloader.js"></script>
<script src="../static/js/perromatch.js"></script>

</html>