<head>
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<header>
    <nav class="nav-bar" role="navigation">
        <div class="imagen-logo"><img src="../static/img/refugio logo.jpg" alt="logo"></div>
        <div class="links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="buscar-mascota.html">Busca y adopta una mascota</a></li>
                <li><a href="perromatch.html">PerroMatch</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                
            </ul>
        </div>
    </nav>
</header>